.menu-toolbar {
  background: linear-gradient(5deg, black, #383838);
  border-bottom: 2px solid #000000;
  justify-content: center;
  padding-left: 0;
  height: 3em;
  position: fixed;
  z-index: 100;
  color: white
}